#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
   /*home style*/
        .home-container {
          text-align: center;
          padding: 20px;
        }

        .slideshow {
          position: relative;
          width: 80%;
          margin: auto;
          overflow: hidden;
        }

        .sneaker-image {
          width: 100%;
          height: auto;
          border-radius: 10px;
          transition: opacity 1s ease-in-out;
        }

        h1 {
          font-family: Arial, sans-serif;
          color: #333;
        }

      
        .cart {
          padding: 20px;
          border-top: 2px solid #eee;
        }

        .cart-item {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          border-bottom: 1px solid #ddd;
          padding-bottom: 10px;
        }

        .cart-img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          margin-right: 20px;
        }

        .cart-details {
          text-align: left;
        }

        .cart-details button {
          margin-right: 10px;
          background-color: #333;
          color: white;
          padding: 5px 10px;
          border: none;
          cursor: pointer;
          border-radius: 4px;
        }

        .cart-details button:hover {
          background-color: #555;
        }
      
      
